<a href="https://colab.research.google.com/github/Suthishkumar-Ganesamoorthy/Amazon-Dashboard/blob/main/Assignement2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

a.	Create a list named age_list with five integer elements. For eg., [24, 25, 26, 27, 28]
b.	Create a list named name_list with five string elements.

In [ ]:
age_list = [24, 25, 26, 27, 28]
name_list = ['John', 'Jane', 'Jack', 'Jill', 'Joe']
age_list

[24, 25, 26, 27, 28]

a.	Append the string "Yazhini" to name_list.

In [ ]:
name_list.append('Yazhini')
name_list

['John', 'Jane', 'Jack', 'Jill', 'Joe', 'Yazhini']

b.	Insert the element 30 at index 2 in age_list.

In [ ]:
age_list.insert(2, 30)
age_list

[24, 25, 30, 26, 27, 28]

c.	Remove the string "Yazhini" from name_list.

In [ ]:
name_list.remove('Yazhini')
name_list

['John', 'Jane', 'Jack', 'Jill', 'Joe']

d.	Pop the last element from age_list.

In [ ]:
age_list.pop(-1)
age_list

[24, 25, 30, 26, 27]

e.	Extend the age_list with additional ages [29, 30, 26].

In [ ]:
age_list.extend([29, 30, 26])
age_list

[24, 25, 30, 26, 27, 29, 30, 26]

f.	Sort age_list in descending order.

In [ ]:
age_list[::-1]

[30, 30, 29, 27, 26, 26, 25, 24]

g.	Find Max age, Min age and sum of all ages from age_list.

In [ ]:
age_list.sort()
print(f'max age: {age_list[-1]}')
print(f'min age: {age_list[0]}')
print(f'sum of all ages: {sum(age_list)}')
age_list

max age: 30
min age: 24
sum of all ages: 217

[24, 25, 26, 26, 27, 29, 30, 30]

h.	Make a copy of age_list and store as age_list_copy

In [ ]:
age_list_copy = age_list.copy()
age_list_copy

[24, 25, 26, 26, 27, 29, 30, 30]

i.	Clear all elements from age_list_copy.

In [ ]:
age_list_copy.clear()
age_list_copy

[]

a.	Print the first element of name_list.

In [ ]:
name_list[0]

'John'

b.	Print the last element of name_list.

In [ ]:
name_list[-1]

'Joe'

c.	Print the elements from index 2 to index 4 in name_list.

In [ ]:
name_list[2:5]

['Jack', 'Jill', 'Joe']

d.	Print the elements of name_list in reverse order.

In [ ]:
name_list[::-1]

['Joe', 'Jill', 'Jack', 'Jane', 'John']

e.	Create a list called list_dup = [1, 2, 1, 1, 3, 1, 2, 5, 9, 1] and print the number of times element ‘1’ has occurred.

In [ ]:
list_dup = [1, 2, 1, 1, 3, 1, 2, 5, 9, 1]
list_dup.count(1)

5

f.	Print length of list_dup.

In [ ]:
print(len(list_dup))

10

a.	Create a dictionary named student_marks that maps the names of five students to their marks (use scale of from 0 to 100).

In [11]:
student_marks = {'John': 90, 'Jane': 80, 'Jack': 70, 'Jill': 60, 'Joe': 50}
student_marks

{'John': 90, 'Jane': 80, 'Jack': 70, 'Jill': 60, 'Joe': 50}

b.	Access and print the mark of a specific student, of your choice.

In [14]:
Jane_mark = student_marks['Jane']
print(f'Jane\'s mark: {Jane_mark}')

Jane's mark: 80

a.	Add a new student "Janani" with a mark of 80 to the student_marks dictionary.

In [16]:
student_marks['Janani'] = 80
student_marks

{'John': 90, 'Jane': 80, 'Jack': 70, 'Jill': 60, 'Joe': 50, 'Janani': 80}

b.	Update the mark of any one older student to 82.

In [17]:
student_marks['John'] = 82
student_marks

{'John': 82, 'Jane': 80, 'Jack': 70, 'Jill': 60, 'Joe': 50, 'Janani': 80}

c.	Use the keys(), values(), and items() methods to print all keys, values, and key-value pairs in the student_marks dictionary.

In [19]:
student_marks = {'John': 90, 'Jane': 80, 'Jack': 70, 'Jill': 60, 'Joe': 50}
print(f'keys: {student_marks.keys()}')
print(f'values: {student_marks.values()}')
print(f'items: {student_marks.items()}')

keys: dict_keys(['John', 'Jane', 'Jack', 'Jill', 'Joe'])
values: dict_values([90, 80, 70, 60, 50])
items: dict_items([('John', 90), ('Jane', 80), ('Jack', 70), ('Jill', 60), ('Joe', 50)])

a.	Create a set called my_set with following values:   
	['a','e','i','o','u','a','a','i']
Analyse the output and provide explanation for the same.

In [22]:
my_set = ['a','e','i','o','u','a','a','i']
my_set = set(my_set)
my_set

['a', 'e', 'i', 'o', 'u', 'a', 'a', 'i']

b.	Attempt to change the value of my_set[4] = 's'. If code throws an error, provide an explanation.

In [23]:
my_set[4] = 's'
my_set

['a', 'e', 'i', 'o', 's', 'a', 'a', 'i']

c.	Create two sets:
	set1 with values: {1, 3, 5, 7, 9}
	set2 with values: {2, 3, 5, 8, 10}

In [25]:
set1 = {1,3,5,7,9}
set2 = {2,3,5,8,10}

{1, 3, 5, 7, 9}

d.	Compute the union of set1 and set2, and print the result.

In [26]:
union_set = set1.union(set2)
union_set

{1, 2, 3, 5, 7, 8, 9, 10}

e.	Perform an intersection operation between set1 and set2, and print the result.

In [27]:
intersection_set = set1.intersection(set2)
intersection_set

{3, 5}

a.	Create a frozenset named immutable_set containing the integers: 1, 2, 3, 4,
5. Print the frozenset.

In [28]:
immutable_set = frozenset([1,2,3,4,5])
immutable_set

frozenset({1, 2, 3, 4, 5})

b.	Try to add an element (e.g., 6) to the immutable_set frozenset. Observe and describe any exceptions that occur.

In [29]:
immutable_set.add(6)
immutable_set

AttributeError: 'frozenset' object has no attribute 'add'